/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --white: #fff;
    --off-white: #EEF9FB;
    --off-white-bl: #B3F7FA;
    --off-white-gr: #A9FDD2;
    --black: #000;
    --dark-blue: #2371FD;
    --mid-blue: #2099E3;
    --bright-blue: #2FE1FA;
    --aquamarine: #20E3C4;
    --green: #23FD9D;
}

body {
    background-color: var(--off-white-bl);
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 3rem;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

a,
button,
span,
link,
p {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
    grid-template-rows: repeat(12, minmax(75px, 1fr));
    margin: 15px 50px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-bar {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    
}

.buttons-bar {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
    gap: 10px;
}

.buttons-bar > button {
    min-width: 150px;
    padding: 5px 10px;
    color: var(--white);
    background-color: var(--dark-blue);
    border: 2px var(--white) solid;
    border-radius: 25px;
}

.buttons-bar > button:hover {
    color: var(--dark-blue);
    background-color: var(--white);
    border-color: var(--dark-blue);
}

.etch-viewport {
    grid-column: 4 / span 6;
    grid-row: 3 / span 8;
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-template-rows: repeat(4, minmax(50px, 1fr));

}

.footer-area {
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
}




/* Etch viewport styles */

.project-wrapper{
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: var(--off-white);
    border: 5px solid #333333;    
}

.active-etch-block{
    background-color: #000;
}